/*--------------------------Global rules---------------------------------------------------*/
:root {
    --color-1: #748CAB;
    --color-2: #2C3E50;
    --color-3: #989788;
    --color-4: #A28F9D;
    --color-5: #456990;
    --color-6: #658E9C;
    --color-7: #779FA1;
    --color-8: #B19994;
}

body {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    background: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.container {
    font-size: 15px;
    border-radius: 0px;
}

.btn,
a {
    border-radius: 0px !important;
}

.div {
    border-radius: 0px;
}

h1>.fa {
    color: #fff !important;
}

ul {
    list-style: none;
}

.lead {
    font-size: 1.15em;
}

#date {
    font-size: 13px;
    color: var(--color-2);
}

#date i {
    color: var(--color-2);
}

hr {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid lightgray;
    margin: 0 auto 40px auto;
    max-width: 400px;
    position: relative;
}

hr:after {
    position: absolute;
    width: 11px;
    height: 11px;
    content: "";
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    background-color: lightgray;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.text-black{
  color: black !important;
}

#education hr,
#skills hr {
    margin: 0 auto 30px auto;
}

.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 3px;
    font-size: 16px;
}

.tooltip-inner {
    height: 25px;
    padding: 3px;
    background-color: var(--color-2);
    color: #fff;
    text-align: center;
}

/*------------------------ end of Global rules-------------------------------------------------*/

/* ------------------------navbar------------------------------------------------------------- */

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #1C2331 !important;
    background-color: #fff !important;
}

/* --------------------------end of navbar section------------------------------------------------- */

/* --------------------------header---------------------------------------------------------------- */

header {
    background-image: url('../images/cover5.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
}

/* -------------------------- end of header section-------------------------------------------------- */

#home {
    background-color: var(--color-2);
    color: #fff;
}

#home a {
    color: #fff;
}

/*----------------------------Education---------------------------------------------------------------*/
#edu {
    background-color: #fff;
    color: #393939;
}

#education .school,
#education .school a {
    color: var(--color-1);
}

/*---------------------------- end of Education section------------------------------------------------*/
/*----------------------------Skils-------------------------------------------------------------------*/
#skills svg {
    width: 35px;
    height: 40px;
}

#skills img {
    width: 40px;
    height: 40px;
}

/*----------------------------end of Skills section------------------------------------------------------*/

/*----------------------------Resume --------------------------------------------------------------------*/
#cv {
    background-color: #fff;
    color: #393939;
    border-width: 6px;
    border-style: double;
    border-color: 748CAB;
}

#cv a i {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#cv a:hover {
    text-decoration: none;
}

/*----------------------------end of Resume section-------------------------------------------------------*/

/*----------------------------Interests ------------------------------------------------------------------*/
#interests {
    background-color: var(--color-2);
    color: #fff;
}

#interests p {
    font-size: 18px;
    font-weight: 600;
}

#interests .subhead {
    font-weight: 300 !important;
}

#interests .fa {
    background-color: #fff;
    color: var(--color-2);
}

#interests i {
    height: 80px !important;
    width: 80px !important;
    line-height: 80px !important;
    font-size: 40px !important;
    vertical-align: middle;
    box-shadow: 0 0 0 12px rgba(9, 75, 61, 0.14901960784313725);
}

/*-----------------------------end of interests section---------------------------------------------------*/

/*------------------------------Projects ------------------------------------------------------------------*/
#projects {
    background-color: var(--color-2);
}

.card-img {
  opacity: 0.2;
}

.card-img-overlay{
  overflow: scroll;
}
/*---------------------------- end of projects section ---------------------------------------------------*/

/*---------------------------- Organizations and courses -------------------------------------------------------------*/

#organizations i {
    color: gray;
}

#organizations .card,
#courses .card,
#volunteer .card {
    background-color: var(--color-2);
    color: #fff;
}

#organizations .card, #volunteer .card {
  cursor: pointer;
}

#organizations #org-1:hover {
    background-color: var(--color-1);
    color: white;
}

#organizations #org-2:hover {
    background-color: var(--color-7);
    color: white;
}

#organizations #org-3:hover {
    background-color: var(--color-3);
    color: white;
}

#organizations #org-4:hover {
    background-color: var(--color-4);
    color: white;
}

#courses #cor-1:hover {
    background-color: var(--color-5);
    color: white;
}

#courses #cor-2:hover {
    background-color: var(--color-6);
    color: white;
}

#courses #cor-3:hover {
    background-color: var(--color-7);
    color: white;
}

#courses #cor-4:hover {
    background-color: var(--color-8);
    color: white;
}

#courses #cor-5:hover {
    background-color: var(--color-1);
    color: white;
}

#courses #cor-6:hover {
    background-color: var(--color-7);
    color: white;
}

#courses #cor-7:hover {
    background-color: var(--color-3);
    color: white;
}

#courses #cor-8:hover {
    background-color: var(--color-4);
    color: white;
}

#courses #cor-9:hover {
    background-color: var(--color-5);
    color: white;
}

#volunteer #vol-1:hover {
    background-color: var(--color-6);
    color: white;
}

#volunteer #vol-2:hover {
    background-color: var(--color-4);
    color: white;
}

#volunteer #vol-3:hover {
    background-color: var(--color-8);
    color: white;
}

#volunteer #vol-4:hover {
    background-color: var(--color-1);
    color: white;
}

#volunteer #vol-5:hover {
    background-color: var(--color-7);
    color: white;
}

/*---------------------------- end of organizations and courses section ----------------------------------------------*/

/*-----------------------------Panel----------------------------------------------------------------------*/


#plus {
    cursor: pointer;
    font-size: 12px;
    padding-right: 20px;
}


/* ----------------------------end of panel section--------------------------------------------------------*/

/*--------------------------------------modal-----------------------------------------------------------------*/
#knowmore {
    background-image: linear-gradient(to left, #748cab, #697f9b, #5e738b, #54667c, #4a5a6d);
    color: #fff;
    margin-top: 20px;

}

.modalbtn {
    background-color: var(--color-2);
    color: #fff;
    font-size: 16px;
    padding: 5px 8px;
    cursor: pointer;
}

.modalbtn:hover,
.modalbtn:active,
.modalbtn:visited {
    color: #fff;
}

.modalbtn i {
    color: #fff;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

/*---------------------------------end of modal ----------------------------------------------------------------*/

/*-----------------------------fa icons--------------------------------------------------------------------*/


.fa-github:hover,
.fa-bitbucket:hover {
    color: #000;
}

.fa-slideshare:hover {
    color: #000;
}

.fa-quora:hover {
    color: #a82400;
}

.fa-linkedin:hover {
    color: #007bb5;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #cb2027;
}

.fa-google-plus:hover {
    color: #d34836;
}

.fa-tumblr:hover {
    color: #32506d;
}

#contact .fa {
    cursor: pointer;
}
#contact a{
     color: var(--color-1);
}

.fa .fa-university {
    color: #000;
}

.github-button{
  color: white !important;
}

#education h1 i,
#skills h1 i,
#projects h1 i,
#cv a i,
#interests i {
    background: none repeat scroll 0 0 var(--color-1);
    border-radius: 50%;
    box-shadow: 0 0 0 9px #CCD5E0;
    display: block;
    font-size: 32px;
    height: 50px;
    line-height: 50px;
    margin: 2px auto;
    text-align: center;
    width: 50px;
    cursor: unset;
    color: #fff;
}

#education h1 i:hover,
#skills h1 i:hover,
#projects h1 i:hover,
#cv a i:hover,
#interests i:hover {
    box-shadow: 0 0 0 14px rgba(60, 130, 148, 0.14901960784313725);
}

/*--------------------------------end of fa-icons section--------------------------------------------------*/

/*--------------------------------- contact -------------------------------------------------*/
#email {
    color: #fff;
}

#send {
    background-color: var(--color-1);
    color: #fff;
    margin-bottom: 15px;
    border-radius: 0px;
}

textarea.form-control {
    height: 130px;
    margin-right: 20px;
}

textarea.form-control,
input.form-control {
    margin: 5px auto;
}

.form-control {
    border-radius: 0px;
}

/*--------------------------------- end of contact section------------------ -------------------------------------------------*/

/*---------------------------------copyright ---------------------------------------------------------------*/

#copyright {
    background-color: #000;
    align-self: center;
    overflow: hidden;
    padding: 3em 0em;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#copyright span {
    display: block;
    letter-spacing: 0.20em;
    line-height: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: #fff;
}

#copyright a {
    text-decoration: none;
    color: #fff;
}

#copyright .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

/*--------------------------------- end of copyright section -------------------------------------------------*/

/*--------------------------------- Badges------------------ -------------------------------------------------*/
#badges {
    background-image: linear-gradient(to left, #2c3e50, #475767, #63707e, #818b96, #9fa7af);
}


#twitter .btn {
    background-color: #55acee;
    color: #fff;
    border-radius: 0px;
    text-decoration: none;
    margin: 3px;
    width: 208px !important;
}

#twitter .btn i {
    color: #fff !important;
}

.LI-profile-badge {
    margin-left: 15px;
}

#stackoverflow a {
    cursor: pointer;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  color: white;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #d4d4d4;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  background: white;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li.sea > .timeline-panel:after{
  border-left: 14px solid var(--color-3);
}

.timeline > li.intern > .timeline-panel:after{
  border-left: 14px solid var(--color-5);
}

.timeline > li.hsc > .timeline-panel:after{
  border-left: 14px solid var(--color-7);
}

.timeline > li.gte > .timeline-panel:after{
  border-right: 14px solid var(--color-4);
}

.timeline > li.btech > .timeline-panel:after{
  border-right: 14px solid var(--color-6);
}

.timeline > li.ssc > .timeline-panel:after{
  border-right: 14px solid var(--color-8);
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.bg-sea{
  background: var(--color-3)!important;
}

.bg-gte{
  background: var(--color-4)!important;
}

.bg-intern{
  background: var(--color-5)!important;
}

.bg-btech{
  background: var(--color-6)!important;
}

.bg-hsc{
  background: var(--color-7)!important;
}

.bg-ssc{
  background: var(--color-8)!important;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}
/*--------------------------------- end of Badges section -------------------------------------------------*/

/*--------------------------------animations-------------------------------------------------------------------*/

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.animate-left {
    position: relative;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 2s;
    animation-name: animateleft;
    animation-duration: 2s
}

@-webkit-keyframes animateleft {
    from {
        left: -100px;
        opacity: 0
    }

    to {
        left: 0px;
        opacity: 1
    }
}

@keyframes animateleft {
    from {
        left: -100px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.animate-right {
    position: relative;
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 2s;
    animation-name: animateright;
    animation-duration: 2s
}

@-webkit-keyframes animateright {
    from {
        right: -100px;
        opacity: 0
    }

    to {
        right: 0px;
        opacity: 1
    }
}

@keyframes animateright {
    from {
        right: -100px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}


@keyframes pulse {
    0% {
        background-color: var(--color-2);
    }

    100% {
        background-color: var(--color-1);
    }
}


/*--------------------------------end of animations----------------------------------------------------------*/