/*--------------------------Global rules---------------------------------------------------*/
 body {
     position: relative;
     max-width: 100%;
    overflow-x: hidden;
     background: #F5F5F5;
     font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;
 }

 .container {
     font-size: 15px;
     border-radius: 0px;
 }

.btn, a{
    border-radius: 0px !important;
}
 .div{
    border-radius: 0px;
 }

 h1 > .fa {
     color: #fff !important;
 }

 .main-head {
     font-size: 25px;
 }

 ul {
     list-style: none;
 }
  h1 {
     font-size: 1.6em;
 }

 .lead {
     font-size: 1.15em;
 }
 hr {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 1px solid #8b8b8b;
    margin: 0 auto 50px auto;
    max-width: 400px;
    position: relative;
}
hr:after {
    position: absolute;
    width: 11px;
    height: 11px;
    content: "";
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    background-color: #8b8b8b;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
  /*------------------------ end of Global rules-------------------------------------------------*/

  /* ------------------------navbar------------------------------------------------------------- */
 .navbar-custom {
     margin-bottom: 0;
     background-color: #1C2331;
     border: none;
     font-size: 13px !important;
     line-height: 1.42857143 !important;
     letter-spacing: 3px;
     border-radius: 0;
     text-indent: 0.5em;
 }

 .navbar li a,
 .navbar .navbar-brand {
     color: #fff !important;
 }

 .navbar-custom .navbar-toggle {
     background-color: #18BC9C;
     border-color: #18BC9C;
     color: white;
     font-size: 12px;
 }

 .navbar-custom .navbar-toggle i {
     color: #fff;
 }

 .navbar-custom .navbar-toggle:hover,
 .navbar-custom .navbar-toggle:focus {
     background-color: #18BC9C;
 }

 .navbar-nav li a:hover,
 .navbar-nav li.active a {
     color: #1C2331 !important;
     background-color: #fff !important;
 }
  /* --------------------------end of navbar section------------------------------------------------- */

  /* --------------------------header---------------------------------------------------------------- */

 header {
     background-image: url('../images/cover5.jpeg');
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position: center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     text-align: center;
     color: white;
 }

 @media (min-width: 768px) {
     header .intro-text {
         padding-top: 300px;
         padding-bottom: 200px;
     }
 }
  /* -------------------------- end of header section-------------------------------------------------- */

#home{
    background-color: #2C3E50;
    color: #fff;
}
#home   a{
        color: #fff;
    }
  /*----------------------------Education---------------------------------------------------------------*/
 #edu {
     background-color: #fff;
 }
 #education .school,
 #education .school a {
     color: #18BC9C;
 }

 /*---------------------------- end of Education section------------------------------------------------*/

  /*----------------------------Skils-------------------------------------------------------------------*/
 #skills svg {
     width: 50px;
     height: 60px;
 }

 #skills img {
     width: 60px;
     height: 60px;
 }
 .col-md-4 img,
 .col-xs-4 img {
     padding: 3px;
 }

 /*----------------------------end of Skills section------------------------------------------------------*/

 /*----------------------------Resume --------------------------------------------------------------------*/
 #cv{
    background-color: #fff;
    border-width: 6px;
    border-style: double;
    border-color: #18BC9C;
 }
 #cv a i {
     color: #fff;
     text-decoration: none;
     cursor: pointer;
 }

 #cv a:hover {
     text-decoration: none;
 }

 /*----------------------------end of Resume section-------------------------------------------------------*/

 /*----------------------------Interests ------------------------------------------------------------------*/
 #interests{
    background-color: #2C3E50;
    color: #fff;
 }
 #interests p {
     font-size: 18px;
     font-weight: 600;
 }
 #interests .subhead{
    font-weight: 300 !important;
 }
 #interests .fa{
    background-color: #fff;
    color: #2C3E50;
 }
 #interests i {
    height: 80px !important;
    width: 80px !important;
    line-height: 80px !important;
    font-size: 40px !important;
    vertical-align: middle;
    box-shadow: 0 0 0 12px rgba(9, 75, 61, 0.14901960784313725);
 }
 /*-----------------------------end of interests section---------------------------------------------------*/

/*------------------------------Projects ------------------------------------------------------------------*/
  #projects{
    background-color: #18BC9C;
  }
  #projects img {
     display: inline-block;
     vertical-align: middle;
  }
  #projects h1, #projects .lead{
    color: #fff;
  }
  #projects hr{
    border-color: #fff;
  }
  #projects hr:after{
    background-color: #fff;
  }
 /*---------------------------- end of projects section ---------------------------------------------------*/

 /*-----------------------------Panel----------------------------------------------------------------------*/
 #organizations .panel, #courses .panel{
    background-color: #828282;
    color: #fff;
 }
  #organizations #org-1 .panel:hover{
    background-color: rgb(193, 33, 38);
 }
  #organizations #org-2 .panel:hover{
    background-color: rgb(60, 30, 93);
 }
  #organizations #org-3 .panel:hover{
    background-color: rgb(19, 37, 48);
  }
  #organizations #org-4 .panel:hover{
    background-color: rgb(239, 61, 30);
  }
  #courses #cor-1 .panel:hover{
    background-color: rgb(60, 30, 93);
  }
  #courses #cor-2 .panel:hover{
    background-color: rgb(21, 159, 213);
  }
  #courses #cor-3 .panel:hover{
    background-color: rgb(35, 111, 64);
  }
  #courses #cor-4 .panel:hover{
    background-color:  rgb(19, 37, 48);
  }
  #courses #cor-5 .panel:hover{
    background-color: rgb(101, 172, 30);
  }
  #courses #cor-6 .panel:hover{
    background-color: rgb(193, 33, 38);
  }
  #courses #cor-7 .panel:hover{
    background-color: rgb(138, 30, 4);
  }
  #courses #cor-8 .panel:hover{
    background-color: rgb(252, 212, 50);
  }
  #courses #cor-9 .panel:hover{
    background-color: rgb(67, 137, 127);
  }
 .panel {
     padding: 10px 20px 10px 20px;
     font-size: 15px;
     background-color: #fff;
     border-radius: 0px;
 }

 #projects > .panel {
     border-radius: 0;
     max-height: 300px;
     padding: 5px 10px 5px 10px;
     /*box-sizing:*/
 }

 .panel-heading,
 .panel-heading a {
     color: #fff !important;
     background-color: #2C3E50 !important;
     padding: 5px;
     border-bottom: 1px solid transparent;
 }

 .panel-heading {
     padding: 2px;
 }
 /* ----------------------------end of panel section--------------------------------------------------------*/

 /*--------------------------------------modal-----------------------------------------------------------------*/
 .modalbtn {
     border-radius: 0px;
     background-color: #18BC9C;
     color: #fff;
     font-size: 16px;
 }

 .modalbtn:hover,
 .modalbtn:active,
 .modalbtn:visited {
     color: #fff;
 }

 .modalbtn i {
     color: #fff;
 }
 .full-modal .modal-content {
     border-radius: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
     border: none;
     min-height: 100%;
     padding: 50px 0;
 }

 .full-modal .modal-backdrop {
     opacity: 0;
     display: none;
 }
/*---------------------------------end of modal ----------------------------------------------------------------*/

 /*-----------------------------fa icons--------------------------------------------------------------------*/

 .fa {
     color: gray;
 }

 .fa-github:hover,
 .fa-bitbucket:hover {
     color: #000;
 }

 .fa-slideshare:hover {
     color: #000;
 }

 .fa-quora:hover {
     color: #a82400;
 }

 .fa-linkedin:hover {
     color: #007bb5;
 }

 .fa-twitter:hover {
     color: #55acee;
 }

 .fa-facebook:hover {
     color: #3b5998;
 }

 .fa-pinterest:hover {
     color: #cb2027;
 }

 .fa-google-plus-square:hover {
     color: #d34836;
 }

 .fa-tumblr:hover {
     color: #32506d;
 }

 #contact .fa {
     cursor: pointer;
 }
 .fa .fa-university {
     color: #000;
 }
 #education h1 i,
 #skills h1 i,
 #projects h1 i,
 #cv a i,
 #interests i {
     background: none repeat scroll 0 0 #18BC9C;
     border-radius: 50%;
     box-shadow: 0 0 0 9px rgba(20, 159, 131, 0.14901960784313725);
     display: block;
     font-size: 32px;
     height: 50px;
     line-height: 50px;
     margin: 2px auto;
     text-align: center;
     width: 50px;
     cursor: unset;
     color: #fff;
 }

 #education h1 i:hover,
 #skills h1 i:hover,
 #projects h1 i:hover,
 #cv a i:hover,
 #interests i:hover {
     box-shadow: 0 0 0 14px rgba(60, 130, 148, 0.14901960784313725);
 }

  /*--------------------------------end of fa-icons section--------------------------------------------------*/

/*--------------------------------- contact -------------------------------------------------*/
#email{
    color: #fff;
}
#send{
    background-color: #18BC9C;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 0px;
}
textarea.form-control {
    height: 130px;
    margin-right: 20px;
}
textarea.form-control, input.form-control{
    margin: 5px auto;
}
.form-control{
    border-radius: 0px;
}
 /*--------------------------------- end of contact section------------------ -------------------------------------------------*/

 /*---------------------------------copyright ---------------------------------------------------------------*/

 #copyright {
     background-color: #000;
     align-self: center;
     overflow: hidden;
     padding: 3em 0em;
     border-top: 1px solid rgba(0, 0, 0, 0.08);
 }

 #copyright span {
     display: block;
     letter-spacing: 0.20em;
     line-height: 2em;
     text-align: center;
     text-transform: uppercase;
     font-size: 0.80em;
     color: #fff;
 }

 #copyright a {
     text-decoration: none;
     color: #fff;
 }

 #copyright .glyphicon {
     font-size: 20px;
     margin-bottom: 20px;
     color: #fff;
 }
 /*--------------------------------- end of copyright section -------------------------------------------------*/

 /*--------------------------------- Badges------------------ -------------------------------------------------*/
#badges{
    background-color: #464646;
}
#triangle{
    background-color: #464646;
}
/*#curveDownColor path {
    fill: #F5F5F5;
    stroke: #F5F5F5;
}
*/#bigTriangleColor path{
    fill: #F5F5F5;
    stroke: #F5F5F5;
}
 #twitter .btn {
     background-color: #55acee;
     color: #fff;
     border-radius: 0px;
     text-decoration: none;
     margin: 3px;
     width: 208px !important;
 }
 #twitter .btn i {
     color: #fff !important;
 }

 .LI-profile-badge {
     margin-left: 15px;
 }
 #stackoverflow a {
     cursor: pointer;
 }
 /*--------------------------------- end of Badges section -------------------------------------------------*/

 /*--------------------------------animations-------------------------------------------------------------------*/

/* Add animation to "page content" */

 .animate-bottom {
     position: relative;
     -webkit-animation-name: animatebottom;
     -webkit-animation-duration: 2s;
     animation-name: animatebottom;
     animation-duration: 2s
 }

 @-webkit-keyframes animatebottom {
     from {
         bottom: -100px;
         opacity: 0
     }
     to {
         bottom: 0px;
         opacity: 1
     }
 }

 @keyframes animatebottom {
     from {
         bottom: -100px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }
 /*--------------------------------end of animations----------------------------------------------------------*/