* {
    background-color: rgb(167, 22, 22);
    color: bisque;
    width: auto;
    height: auto;
}

body{
    font-family: sans-serif, system-ui;
}

#signature{
    stroke-dasharray: 8000;
}

#firstname {
    position: fixed;
}
