html,
body {
    background-color: black;
    color: bisque;
}

body .main .footer {
    height: 100vh;
    font-family: sans-serif, system-ui;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

main {
    grid-column: 4 / 10;
    grid-row: 4 / 10;  
}

footer {
    padding: 1rem;
    grid-row: 12 / 12;
    grid-column: 4 / 10;
}
