* {
    background-color: black;
    color: bisque;
    width: auto;
    height: auto;
}

body{
    font-family: sans-serif, system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    justify-content: flex-end;
}

